/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

a {
  color: #bb86fc;
}

a:hover {
  color: #3700b3;
}

/* button {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #3700b3;
} */

/* From Uiverse.io by ZacharyCrespin */ 
button {
  transition: all 0.5s;
  font-size: 17px;
  padding: 1ch 2ch;
  background: linear-gradient(315deg, #03a9f4, #ff0058); /* Updated to match card gradient */
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  /* box-shadow:
      2px 2px 0px rgba(3, 169, 244, 0.9),
      /* 4px 4px 0px rgba(255, 0, 88, 0.8), */
      /* 6px 6px 0px rgba(3, 169, 244, 0.7), */
      /* 8px 8px 0px rgba(255, 0, 88, 0.6), */
      /* 10px 10px 0px rgba(3, 169, 244, 0.5), */
      /* 12px 12px 0px rgba(255, 0, 88, 0.4), */
      /* 14px 14px 0px rgba(3, 169, 244, 0.3), */
      /* 16px 16px 0px rgba(255, 0, 88, 0.2), */
      /* 18px 18px 0px rgba(3, 169, 244, 0.1); */ 
}

button:hover {
  background: linear-gradient(315deg, #ff0058, #03a9f4); /* Reversed for hover effect */
  color: white;
  box-shadow: none;
}